---
---

@import "{{ site.theme }}";

html, html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
}

html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(28, 28, 30);
  		--main-text-color: rgb(229, 229, 234);
	}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(28, 28, 30);
  		--main-text-color: rgb(229, 229, 234);
	}
	
	html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
	}
}

section {
    background: var(--main-background-color);
}

#banner #theme-toggle {
    position: fixed;
    left: 50%;
    float: left;
    margin-left: -198px;
    padding: 10px 12px;
    margin-top: 8px;
    line-height: 14px;
    font-size: 14px;
    // background-color: #FFE788;
    white-space: nowrap;
    // background: url(/assets/img/dark-theme-svgrepo-com.svg);
}

#banner .fork {
    margin-top: 8px;
}

@media print, screen and (max-width: 1060px) {
    section { padding: 10px 10px; }
}

@media print, screen and (max-width: 720px) {
    section { padding: 5px 5px; }
    #banner #theme-toggle {
        // float: left;
        // display: inline-block;
        margin-left: 147px;
        position: fixed;
        left: 0px;
    }
}

@media print, screen and (max-width: 480px) {
    section {
        // margin-top: 50px;
        margin-bottom: 0px;
        width: auto;
    }
    #banner {
        display: block;
        position: sticky;
        top: 0px;
    }
    #banner #theme-toggle {
        // float: left;
        display: flex;
        position: sticky;
        left: 0px;
        margin-left: 22px;
    }
    #banner .fork {
        display: flex;
        position: sticky;
        // margin-left: none;
    }
    // #banner #logo {
    //     display: flex;
    //     position: sticky;
    //     float: right;
    // }
}